.header {
  color: white;
  padding: 1.5rem;
  text-align: center;
  background: #0cecdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #0cecdd,
    #c400ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0cecdd,
    #c400ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  height: 100px;
  width: 100px;
}

.container {
  font-family: monospace;
  line-height: 1.7;
}

.container h1, .container h2, .container h3, .container h4   {
  font-family: vcr-osd-mono;
  font-weight: bold;

}

.section {
  margin-top: 40px;
  padding: 0 20px;
}

.code {
  font-family: monospace;
  background: #f4f4f4;
  color: #b73d3d;
  padding: 2px 3px;
  border-radius: 3px;
}

.footer {
  padding: 1rem;
  background-color: lightgray;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
